<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolas do Estado da Paraíba</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'manager/view_school.css') }}">

</head>


<body>
    <div class="container">
        <h1>Listagem Escolas Estaduais</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome da Escola</th>
                    <th>GRE</th>
                    <th>Salas</th>
                </tr>
            </thead>
            <tbody>
                {% for escola in escolas %}
                <tr>
                    <td>{{ escola[1] }}</td>
                    <td>{{ escola[2] }}</td>
                    <td>{{ escola[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('manager') }}"><button class="return-btn">Retornar ao Menu Escolas</button></a>
    </div>
</body>
</html>