:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

body {
    background-color: var(--color-gray-1);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    grid-template-areas: 
        "a a a a"
        "b c d e";
    grid-gap: 30px;
    height: 800px;
    padding: 50px;
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
  }
  
  .grid-container>div {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 10px 9px 33px -12px rgba(0, 0, 0, 0.95);
    color: #fff;
    position: relative;
    justify-self: center; /* Alinha os itens horizontalmente */
  }
  
  .item1 {
    grid-area: a;
    background-image: linear-gradient(-90deg, rgb(52, 206, 167), rgb(19, 172, 133));
    width: 100%; 
  }
  
  .item2{
    grid-area: b;
    background-image: linear-gradient(-90deg, #0F2027, #0F2027);
    width: 100%; 
  }
  
  .item3 {
    grid-area: c;
    background-image: linear-gradient(180deg, #F2994A, #F2C94C);
    width: 100%; 
  }

  .item4 {
    grid-area: d;
    background-image: linear-gradient(180deg, #da525d, crimson);
    width: 100%;
    color:navy
  }

  .item5 {
    grid-area: e;
    background-image: linear-gradient(180deg, #2086c2, navy);
    width: 100%; 
  }


  .item1 h1 {
    font-size: 38px; /* Tamanho da fonte desejado */
}
  .item1 p {
    font-size: 22px; /* Tamanho da fonte desejado */
}

  .item2 h1 {
    font-size: 16px; /* Tamanho da fonte desejado */
}
  .item2 p {
    font-size: 16px; /* Tamanho da fonte desejado */
}

  .item3 h1 {
    font-size: 16px; /* Tamanho da fonte desejado */
}

   .item3 p {
    font-size: 16px; /* Tamanho da fonte desejado */
}
   .item4 h1 {
    font-size: 16px; /* Tamanho da fonte desejado */
}

   .item4 p {
    font-size: 16px; /* Tamanho da fonte desejado */
}
  .item5 h1 {
    font-size: 16px; /* Tamanho da fonte desejado */
}

   .item5 p {
    font-size: 16px; /* Tamanho da fonte desejado */
}


  button.item {
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
  }