<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GERENCIA ESTADUAL DE ESCOLAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'gerencia.css') }}">
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <h1>GERENCIA ESTADUAL DE ESCOLAS</h1>
                <p>Ambienta para uso das secretarias regionais de educação.</p>
            <a href="{{ url_for('index') }}"><button class="item">SAIR</button></a>
        </div>
        <div class="item2">
            <h1>INISIRA AQUI UMA NOVA ESCOLA</h1>
                <p>Inserção de Novas Escolas</p>
            <a href="{{ url_for('nova_escola') }}"><button class="item">Adicionar Escola</button></a>
        </div>
        <div class="item3">
            <h1>VEJA A LISTA DE ESCOLAS DO ESTADO</h1>
                <p>Visualizar escolas da rede estadual</p>
            <a href="{{ url_for('view_escolas') }}"><button class="item">Visualizar Escolas</button></a>
        </div>
        <div class="item4">
            <h1>VEJA OS ALUNOS MATRICULADOS POR ESCOLA</h1>
                <p>Visualizar escolas da rede estadual</p>
            <a href="{{ url_for('view_alunos') }}"><button class="item">Visualizar Alunos matriculados</button></a>
        </div>
    </div>
</body>




