<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Nova Escola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'gerencia.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'nova_escola.css') }}">
</head>


<body>
    <div class="container">
        <h1>Adicionar Nova Escola</h1>
        <form action = "{{ url_for('nova_escola') }}" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for "codinep">Codigo Inep </label>
                    <input type="text" id="codinep" name="codinep" required><br><br>
                </div>
                <div class="form-group">
                    <label for "nome">Nome  <br></label>
                    <input type="text" id="nome" name="nome" required><br><br>
                </div>
                <div class="form-group">
                    <label for "gre:">Gerencia Regional </label>
                    <input type="number" id="gre" name="gre" required><br><br>
                </div>
                <div class="form-group">
                    <label for "nsalas:">Nº de Salas  </label>
                    <input type="number" id="nsalas" name="nsalas" required><br><br>
                </div>
                <div class="form-group">
                    <input type="submit" value="Adicionar Escola" class="submit-btn">
                </div>
            </div>
        </form>
    </div>
</body>
    